/* Author: Ava Jordan
Date: 4.15.2025
File Name: safety-styles.css */

/* Container for Safety page */

.safety-tips {
  font-family: 'Raleway', sans-serif;
  color: var(--olive);
  list-style-type: disc;
  text-align: center;
  display: block;
  margin: auto;
  padding: 3%;
}

.safety-tips ul li {
  padding: 0.3em 2em;
  line-height: 1.6;
  text-align: center;
  font-size: 1.5em;
}

.list-image img {
  max-width: 95%;
  display: block;
  margin: 20px auto;
  border: 10px solid var(--olive);
  border-radius: 10px;
}

/* Container holding all destinations */

.destinations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
}

.list {
  list-style-position: inside;
  padding: 0;
  margin: 0 auto;
  /* width: fit-content; */
  text-align: center;
}

/* Each destination card */

.card {
  background: var(--olive);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card img {
  width: 50vh;
  object-fit: cover;
}

.label {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: var(--cream);
  text-align: center;
}