/* Author: Andrew Anderson
Date: 2.4.2025
File Name: styles.css */

/* Color variables */
:root {
  --olive: #606c38;
  --dark-olive: #283618;
  --cream: #fffae0;
  --tan: #dda15e;
  --burnt-orange: #bc6c25;
}

/* Css reset */
body,
header,
nav,
main,
footer,
h1,
div,
img,
ul,
figure,
figcaption,
article,
aside {
    margin: 0;
    padding: 0;
    border: 0;
}
.mobile {
    display:block;
}

.tablet-desktop {
    display: none;
}

main {
    min-height: 300px;
}

/* text style rules */
h1 {
    font-family: 'Carter One', cursive;
    color: var(--burnt-orange);
    text-align: center;
    padding: 2%;
}

p {
    font-family: 'Raleway', sans-serif;
    color: var(--dark-olive);
    text-align: center;
    padding: 2%;
}

/* style rules for body and images */
body {
    background-color: var(--cream);
}

img {
    max-width: 100%;
    display: block;
}

/* Nav bar style rules -- mobile */
nav {
    text-align: center;
    background-color: var(--olive);
}

nav ul {
    padding: 2% 0;
}

nav ul li {
    border-top: var(--cream) solid 1px;
    padding: 1%;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--cream);
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {

    /* Tablet Viewport: show tablet-desktop class, hide mobile class*/
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    h1 {
        font-size: 4em;
    }

    nav ul li {
        border: none;
        display: inline-block;
        padding: 1%;
        font-family: 'Raleway', sans-serif;
        font-size: 1.25em;
    }



}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {
    nav ul li:hover {
        background-color: var(--dark-olive);
    }
}