/* Author: Andrew Anderson
Date: 2.4.2025
File Name: styles.css */

/* Color variables */
:root {
    --gvblue: #0032A0;
    --carillon: #BA6F4c;
    --archway: #dec197;
}

/* Css reset */
body,
header,
nav,
main,
footer,
h1,
div,
img,
ul,
figure,
figcaption,
article,
aside {
    margin: 0;
    padding: 0;
    border: 0;
}

.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

main {
    min-height: 55vh;
    margin: auto;
}

/* text style rules */
h1 {
    font-family: "Alfa Slab One", cursive;
    color: var(--gvblue);
    text-align: left;
    padding: 2%;
    font-size: 1.5em;
}

header {
    display: flex;
    margin: 4% 0 0 2%;
    align-items: center;
}

header img {
    max-width: 25%;
}

p {
    font-family: 'Raleway', sans-serif;
    color: #000;
    text-align: center;
    padding: 2%;
}

/* style rules for body and images */
body {
    background-color: white;
    max-width: 1000px;
    margin: auto;
}

img {
    max-width: 100%;
    display: block;
}

/* Nav bar style rules -- mobile */
nav {
    text-align: center;
    background-color: var(--gvblue);
}

nav ul {
    list-style-type: none;
    color: white;
}

nav ul li {
    border-top: white solid 1px;
    padding: 3%;
    font-family: 'Raleway', sans-serif;
}

nav ul li:first-child {
    border-top: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
}

h2 {
    font-family: "Alfa Slab One", cursive;
    color: var(--gvblue);
    text-align: center;
    font-size: 4em;
}

p {
    font-size: 1.25em;
    padding: 0 2% 6% 6%;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px),
print {

    /* Tablet Viewport: show tablet-desktop class, hide mobile class*/
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    html {
        background-image: url("/images/background.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    h1 {
        font-family: "Alfa Slab One", cursive;
        color: var(--gvblue);
        text-align: left;
        padding: 2%;
        font-size: 4em;
    }

    nav ul {
        padding: 2%;
    }

    nav ul li {
        border: none;
        display: inline-block;
        padding: 1%;
        font-family: 'Raleway', sans-serif;
        font-size: 1.25em;
    }



}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px),
print {
    nav ul li:hover {
        background-color: var(--dark-olive);
    }
}